.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  overflow:hidden;
  display: flex;
  background-color: #222222;
}

.input, .output {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-source {
  width: 480px;
  height: 480px;
  object-fit: cover;
  border: 1px solid #f4f4f4;
}

.output-container {
  width: 480px;
  height: 480px;
  border: 1px solid #f4f4f4;
}